<!DOCTYPE html>
<html lang="js">
<head>
  <meta charset="UTF-8">
  <title>Vue.js</title>
  <link href="main.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@12.1.5"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
</head>
<body>

<div id="app" v-cloak>
  <!-- この#appの中にレンプレートを書き込んでいく -->
  <p>{{ message }}</p>

  <ol>
    <li v-for="item in list">{{ item }}</li>
  </ol>

  <button v-on:click="handleClick">Click</button>

  <p>{{ msg }}</p>
  <input v-model="msg">
  <!-- <input v-model.number="msg">数値になる -->

  <!--<p v-if="show">Hello Vue.js</p>-->

  <button v-on:click="show =! show">切り替え</button>
  <transition>
    <p v-if="show">まるごとりかこ見てる</p>
  </transition>


  <p>{{ count }}回クリックしたよ</p>
  <button v-on:click="increment">カウントを増やす</button>


  <p v-bind:class="{ child: isChild, 'is-active': isActive }">Text</p>
  <p v-bind:style="{ color: textColor, backgroundColor: bgColor }">Text</p>

  <p v-bind:class="[ isActive ? 'active' : 'normal', otherClass ]">text</p>

  <p v-bind:class="classObject">text2</p>
  <p v-bind:style="styleObject">text2</p>

  <img v-bind="item">
  <!-- 特定の要素の変更 -->
  <img v-bind="item" v-bind:id="'thumb-' + item.id">


  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink"/>
  </svg>
  <input type="range" min="0" max="100" v-model="radius">


  <div v-if="ok">ifによる描画</div>
  <div v-show="ok">showによる描画</div>

  <div v-if="ng">ifによる描画</div>
  <div v-show="ng">showによる描画</div>

  <template v-if="ok"><!-- v-showは使えない -->
    <header>タイトル</header>
    <div>コンテンツ</div>
  </template>


  <div v-if="type === 'A'">
    typeは　A
  </div>
  <div v-else-if="type === 'b'">
    typeは　B
  </div>
  <div v-else>
    すべての条件をみたさなかった
  </div>

  <div v-if="loaded" key="content-visible">
    content
  </div>
  <div v-else key="content-loading">
    loading now...
  </div>

  <!-- <li v-for="要素を代入する変数名 in 繰り返したい配列やオブジェクト> -->
  <ul>
    <li v-for="item in monslist" v-bind:key="item.id">
      ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
    </li>
  </ul>

  <ul>
    <li v-for="item in monslist" v-bind:key="item.id" v-bind:class="{ tuyoi: item.hp > 300}">
      ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
      <span v-if="item.hp > 300">つよい！</span>
    </li>
  </ul>

  <h4>hpが300より小さい</h4>
  <ul>
    <li v-for="item in monslist" v-bind:key="item.id" v-if="item.hp < 300">
      ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
    </li>
  </ul>

  <!-- このフォームの入力値を新しいモンスターの名前に使う -->
  名前<input v-model="name">
  <button v-on:click="doAdd">モンスターを追加</button>
  <ul>
    <li v-for="item in monslist" v-bind:key="item.id">
      ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
      <!-- 削除ボタンをv-for内に作成 -->
      <button v-on:click="doRemove(index)">モンスターを削除</button>
    </li>
  </ul>

  <h4>攻撃</h4>
  <ul>
    <li v-for="(item, index) in monslist" v-bind:key="item.id" v-if="item.hp">
      ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
      <span v-if="item.hp < 50">瀕死</span>
      <button v-on:click="doAttack(index)">攻撃する</button>
    </li>
  </ul>

  <h5>axios</h5>
  <ul>
    <li v-for="(item, index) in jsonlist" v-bind:key="item.id">
      ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
    </li>
  </ul>

  <p ref="hello">hello</p>

  <h5>v-pre</h5>
  <a v-bind:href="url" v-pre>HELLO {{ message }}</a>

  <h5>v-once</h5>
  <a v-bind:href="url" v-once>HELLO {{ message }}</a>

  <h5>v-text</h5>
  <span v-text="message"></span>

  <h5>v-html</h5>
  <span v-html="htmlmsg"></span>

  <br>

  <img src="img/testimg.jpg" width="200px" height="200px" v-on:load="show=true" v-bind:class="{hide: !show}">

  <div v-on:click.right="handler">右example</div>
  <div v-on:click.right.prevent="handler">右example</div>

  <div v-on:click="handler('div1')">
    div1
    <a href="#top" v-on:click.stop="handler('div2')">div2</a>
  </div>

  <div v-on:click="handler('div3')">
    div3
    <a href="#top" v-on:click.prevent="handler('div4')">div4</a>
  </div>

  <div v-on:click.capture="handler('div5')">
    div5
    <div v-on:click="handler('div6')">
      div6
      <div v-on:click="handler('div7')">div7</div>
    </div>
  </div>

  <input v-on:keydown.up.down.left.right="handler">

  <button v-on:click.shift="handler('delete')">削除ボタン</button>


  <textarea v-model="modmessage"></textarea>
  <pre>{{ modmessage }}</pre>

  <!-- こう書くことはできへんよ
  <textarea>{{ modmessage}}</textarea>
  -->

  <h5>チェックボックス</h5>
  <label>
    <input type="checkbox" v-model="val">{{ val }}
    <input type="checkbox" v-model="val2" true-value="yes" false-value="no">{{ val2 }}
  </label>

  <h5>チェックボックス2</h5>
  <label><input type="checkbox" v-model="val3" value="A">A</label>
  <label><input type="checkbox" v-model="val3" value="B">B</label>
  <label><input type="checkbox" v-model="val3" value="C">C</label>
  <p>{{ val3 }}</p>

  <h5>ラジオボタン</h5>
  <label><input type="radio" v-model="val4" value="A">A</label>
  <label><input type="radio" v-model="val4" value="B">B</label>
  <label><input type="radio" v-model="val4" value="C">C</label>
  <p>{{ val4 }}</p>

  <h5>セレクトボックス</h5>
  <select v-model="val5">
    <option disabled="disabled">洗濯してください</option>
    <option value="a">A</option>
    <option value="b">B</option>
    <option value="c">C</option>
  </select>
  <p>{{ val5 }}</p>

  <h5>セレクトボックス2</h5>
  <select v-model="val6" multiple>
    <option value="a">A</option>
    <option value="b">B</option>
    <option value="c">C</option>
  </select>
  <p>{{ val6 }}</p>

  <h5>画像ファイル</h5>
  <input type="file" v-on:change="handleChange">
  <div v-if="preview"><img v-bind:src="preview"></div>

  <h5>その他</h5>
  <input type="range" v-model.number="val7">
  {{ val7 }}

  <p v-bind:class="{ compact: scrollY > 200 }">200pxより下にスクロールしたら.compactを付与</p>

  <div v-on:click="scrollTop">ページ上部へ</div>




  <p>{{ width }}の半分は{{ halfWidth }}</p>

  <p>X: {{ halfPoint.x }}</p>
  <p>Y: {{ halfPoint.y }}</p>

  <h5>ゲッターとセッター</h5>
  <input v-model.number="width">{{ width }}
  <input v-model.number="halfWidth">{{ halfWidth }}


  <h6>算出プロパティ</h6>
  <ol>
    <li>{{ computedData}}</li>
    <li>{{ computedData}}</li>
  </ol>
  <h6>メソッド</h6>
  <ol>
    <li>{{ methodsData() }}</li>
    <li>{{ methodsData() }}</li>
  </ol>


  <input v-model.number="budget">円以下に絞り込む
  <input v-model.number="limit">件を表示
  <p>{{ matched.length }}件中 {{ limited.length }}件を表示中</p>
  <button v-on:click="order=!order">切り替え</button>
  <ul>
    <li v-for="item in limited" v-bind:key="item.id">{{ item.name }} {{ item.price }}円</li>
  </ul>


  <h5>github</h5>
  <select v-model="current">
    <option v-for="topic in topics" v-bind:value="topic.value">
      {{ topic.name }}
    </option>
  </select>
  <div v-for="item in gitlist">{{ item.full_name }}</div>





  <pre>{{ $data }}</pre>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="main.js"></script>
</body>
</html>