<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>vue.js</title>
</head>
<body>

<div id="app">
  <my-component></my-component>

  <compp-child val="これは子A"></compp-child>
  <compp-child val="これは子B"></compp-child>

  <ul>
    <comp-child v-for="item in list"
      v-bind:key="item.id"
      v-bind:name="item.name"
      v-bind:hp="item.hp"></comp-child>
  </ul>

  <comp-child-emit v-on:child-event="parentsMethod"></comp-child-emit>

  <h5>$emitで修正</h5>
  <ul>
    <comp-child2 v-for="item in list2"
      v-bind:key="item.id" v-bind="item"
      v-on:attack="handleAttack"></comp-child2>
  </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>